#big{
	float:left;
	width:100%;
	border:1px solid #999;
	width:auto;
	height: 80%;
	margin:2% 4% auto 4%;
	background: #eee;
	padding:20px;
}
#main{
	background: white;
	width:auto;
	margin:0 160px auto 240px;
	padding:20px;
	border:1px #999 solid;
}
#tuan{
	background: white;
	float: left;
	width:200px;
	border:1px #999 solid;
	height: 120px;
	
}
#tuan img{
	margin:20px auto 20px 20px;
}
#tuan p{
	float:right;
	margin-right: 13px;
}
#geren{
	background: white;
	border:1px #999 solid; 
	width:120px;
	height: 420px;
	float:right;
	 
}
#geren img{
	margin:20px 20px 0px 20px;
}